.container-home {
  position: relative;
  top: 50px;
  width: 1290px;
  height: 700px;
  background: url("https://ik.imagekit.io/gwselapu6/HomeML.jpg?updatedAt=1748817699460")
    no-repeat;
  color: blue;
}
