.container_nav {
  width: 99%;
  height: 50px;
  border: solid 1px #000;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  padding: 5px;
  gap: 50px;
  margin-bottom: 30px;
  background-color: rgb(234, 238, 14);
  font-size: 26px;
}
